<?xml version="1.0" ?>
<module xmlns="urn:jboss:module:1.1" name="{{ datasourceModulePackage[item] }}">
  <resources>
    <resource-root path="{{ datasourceDriverJar[item].split("/")[-1] }}"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
  </dependencies>
</module>
