[Unit]
Description=The WildFly Application Server (domain mode)
After=syslog.target network.target

[Service]
Type=forking
User={{ mprocessUser }}
Group={{ mprocessUser }}
ExecStart={{ mdomainHome }}/bin/{{ mdomainName }}-host-start.sh
ExecStop={{ mdomainHome }}/bin/{{ mdomainName }}-host-stop.sh -l

[Install]
WantedBy=multi-user.target

